.container {
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    border-radius: 6px;

    background: #1D976C;  
    background: -webkit-linear-gradient(to right, #93F9B9, #45b88f);  
    background: linear-gradient(to right, #93F9B9, #43b18a); 



    .header {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        padding: 0;
        margin: 1em 0;
        border-radius: 6px;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
        
        h4 {
            padding: 0;
            margin: 5px 1em;
            font-size: 1.2em;
            font-weight: 600;
            text-transform: uppercase;
            i {
                margin: 0 5px;
            }
        }
    }
}